.auth-page {

  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  background:
    linear-gradient(
      135deg,
      #081028,
      #0f172a,
      #111827
    );

}

.auth-card {

  width: 400px;

  background: white;

  padding: 40px;

  border-radius: 20px;

}